<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?>

<plugin>
    <extension point="org.knime.workbench.repository.nodes">
       <node category-path="/misc" 
        factory-class="com.knime.explorer.nodes.ExplorerWriterNodeFactory" 
        id="com.knime.explorer.nodes.writer.ExplorerWriterNodeFactory"/>
    </extension>
    <extension point="org.knime.workbench.repository.nodes">
       <node category-path="/misc" 
        factory-class="com.knime.explorer.nodes.ExplorerBrowserNodeFactory" 
        id="com.knime.explorer.nodes.writer.ExplorerBrowserNodeFactory"/>
       <node
             category-path="/knime-server"
             expert-flag="false"
             factory-class="com.knime.explorer.nodes.callworkflow.CallWorkflowNodeFactory"
             id="com.knime.explorer.nodes.callworkflow.CallWorkflowNodeFactory">
       </node>
    </extension>

</plugin>
