<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.knime.workbench.workflowdiff.actions.WorkflowDiffAction"
            objectClass="org.knime.workbench.explorer.view.ContentObject">
         <action
               class="com.knime.workbench.workflowdiff.actions.WorkflowDiffAction"
               enablesFor="+"
               icon="../org.knime.workbench.core/icons/diff.png"
               id="com.knime.workbench.workflowdiff.actions.WorkflowDiffAction"
               label="Compare">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
		<handler
				class="com.knime.workbench.workflowdiff.handlers.SnapshotViewContextMenuHandler"
				commandId="com.knime.workbench.workflowdiff.SnapCompareCommand">
			<enabledWhen>
				<with variable="selection">
					<or>
						<count value="1"/>
						<count value="2"/>
					</or>
					<iterate ifEmpty="false">
						<or>
							<instanceof value="org.knime.workbench.explorer.view.IFileStoreProvider"/>
							<instanceof value="org.knime.workbench.explorer.filesystem.AbstractExplorerFileStore"/>
						</or>
					</iterate>
				</with>
			</enabledWhen>
		</handler>
      <handler
            class="com.knime.workbench.workflowdiff.nodecompareview.NodeCompareHandler"
            commandId="com.knime.workbench.workflowdiff.compareNodeSettings">
			<enabledWhen>
				<with variable="selection">
					<count value="2"/>
					<iterate ifEmpty="false">
						<instanceof value="org.knime.workbench.editor2.editparts.NodeContainerEditPart"/>
					</iterate>
				</with>
			</enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:com.knime.explorer.server.views.snapshots">
         <command
               commandId="com.knime.workbench.workflowdiff.SnapCompareCommand"
               label="Compare"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.knime.workbench.editor.WorkflowEditor?endof=group.application">
         <separator
               name="CompareSeparator"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.knime.workbench.editor.WorkflowEditor?endof=CompareSeparator">
         <command
               commandId="com.knime.workbench.workflowdiff.compareNodeSettings"
               label="Compare Nodes"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.knime.workbench.workflowdiff.SnapCompareCommand"
            name="serverCompare">
      </command>
      <command
            id="com.knime.workbench.workflowdiff.compareNodeSettings"
            name="Compare Node Settings">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.knime.workbench.ui.category"
            class="com.knime.workbench.workflowdiff.nodecompareview.NodeSettingsViewer"
            id="com.knime.workbench.workflowdiff.nodeSettingsView"
            name="Node Comparison"
            restorable="true">
      </view>
   </extension>
</plugin>
