<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
			point="org.eclipse.ui.handlers">
		<handler
				class="org.knime.workbench.workflowdiff.handlers.NodeCompareHandler"
				commandId="com.knime.workbench.workflowdiff.CompareNodesCommand">
			<enabledWhen>
				<with variable="selection">
					<count value="2"/>
					<iterate ifEmpty="false">
						<instanceof value="org.knime.workbench.editor2.editparts.NodeContainerEditPart"/>
					</iterate>
				</with>
			</enabledWhen>
		</handler>
		<handler
				class="org.knime.workbench.workflowdiff.handlers.WorkflowCompareHandler"
				commandId="com.knime.workbench.workflowdiff.CompareWorkflowsCommand">
			<enabledWhen>
				<with variable="selection">
					<or>
						<count value="1"/>
						<count value="2"/>
					</or>
					<iterate ifEmpty="false">
						<or>
							<instanceof value="org.knime.workbench.explorer.view.IFileStoreProvider"/>
							<instanceof value="org.knime.workbench.explorer.filesystem.AbstractExplorerFileStore"/>
						</or>
					</iterate>
				</with>
			</enabledWhen>
		</handler>
	</extension>

	<extension
			point="org.eclipse.ui.menus">
		<menuContribution
				locationURI="popup:org.knime.workbench.editor.WorkflowEditor?endof=group.application">
			<separator
					name="NodeCompareSeparator"
					visible="true"/>
		</menuContribution>
		<menuContribution
				locationURI="popup:org.knime.workbench.editor.WorkflowEditor?endof=NodeCompareSeparator">
			<command
					commandId="com.knime.workbench.workflowdiff.CompareNodesCommand"
					label="Compare Nodes"/>
		</menuContribution>
		<menuContribution
				locationURI="popup:org.eclipse.ui.popup.any?before=additions">
			<separator
					name="WorkflowCompareSeparator"
					visible="true"/>
		</menuContribution>
		<menuContribution
				locationURI="popup:org.eclipse.ui.popup.any?endof=WorkflowCompareSeparator">
			<command
					commandId="com.knime.workbench.workflowdiff.CompareWorkflowsCommand"
					label="Compare">
				<visibleWhen>
					<with variable="selection">
						<count value="(0-"/>
						<iterate ifEmpty="false">
							<or>
								<instanceof value="org.knime.workbench.explorer.view.IFileStoreProvider"/>
								<instanceof value="org.knime.workbench.explorer.filesystem.AbstractExplorerFileStore"/>
							</or>
						</iterate>
					</with>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>

	<extension
			point="org.eclipse.ui.commands">
		<command
				id="com.knime.workbench.workflowdiff.CompareNodesCommand"
				name="NodeCompare"/>
		<command
				id="com.knime.workbench.workflowdiff.CompareWorkflowsCommand"
				name="WorkflowCompare"/>
	</extension>

	<extension
			point="org.eclipse.ui.commandImages">
		<image
				commandId="com.knime.workbench.workflowdiff.CompareWorkflowsCommand"
				icon="icons/diff.png"/>
		<image
				commandId="com.knime.workbench.workflowdiff.CompareNodesCommand"
				icon="icons/diff.png"/>
	</extension>

	<extension
			point="org.eclipse.ui.views">
		<view
				category="org.knime.workbench.ui.category"
				class="org.knime.workbench.workflowdiff.nodecompareview.NodeSettingsViewer"
				id="com.knime.workbench.workflowdiff.nodeSettingsView"
				name="Node Comparison"
				restorable="true"/>
	</extension>
</plugin>
