<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?>

<plugin>
    <extension point="org.knime.workbench.repository.nodes">
       <node
             category-path="/flowabstraction/container"
             deprecated="true"
             factory-class="org.knime.workflowservices.json.table.caller.CallWorkflowTableNodeFactory">
       </node>
       <node
             category-path="/flowabstraction/container"
             deprecated="false"
             factory-class="org.knime.workflowservices.json.table.caller.Post43CallWorkflowTableNodeFactory">
       </node>
</extension>
</plugin>
