<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?>

<plugin>
    <extension point="org.knime.workbench.repository.nodes">
       <node
            category-path="/flowabstraction/container"
            factory-class="org.knime.workflowservices.json.row.caller.local.CallLocalWorkflowNodeFactory"
            after="org.knime.workflowservices.json.table.caller.Post43CallWorkflowTableNodeFactory" />
       <node
             category-path="/flowabstraction/container"
             factory-class="org.knime.workflowservices.json.row.caller.remote.CallRemoteWorkflowNodeFactory"
             after="org.knime.workflowservices.json.row.caller.local.CallLocalWorkflowNodeFactory">
       </node>
       <node
             category-path="/flowabstraction/container"
             deprecated="true"
             factory-class="org.knime.workflowservices.json.table.caller.CallWorkflowTableNodeFactory">
       </node>
       <node
             category-path="/flowabstraction/container"
             deprecated="false"
             factory-class="org.knime.workflowservices.json.table.caller.Post43CallWorkflowTableNodeFactory">
       </node>
    </extension>
    <extension
          point="org.knime.core.NodeFactoryClassMapper">
       <NodeFactoryClassMapper
             classMapper="org.knime.workflowservices.WorkflowServicesFactoryClassMapper">
       </NodeFactoryClassMapper>
    </extension>

</plugin>
